NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyBeloxIvTa28H6v83Agoa29V0scpxBDGzI"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="bangazon-411c3.firebaseapp.com"
# Add your Server URL to the NEXT_PUBLIC_DATABASE_URL variable below (ex: http://localhost:8000)
NEXT_PUBLIC_DATABASE_URL="http://localhost:5152" 
